APP_ENV=dev
PORT=3000
MONGO_URI=for local dev on docker : mongodb://localhost:27017/courstella?retryWrites=false
MONGO_ATLAS_URI=for prod : mongodb+srv://<username>:<password>@cluster0.mongodb.net/courstella?retryWrites=true&w=majority
JWT_SECRET=thisisasecretkeyforjwtauthentications
FRONTEND_URL=https://yourfrontendurl.com
MENTOR_SECRET_CODE=the code 
