APP_ENV=dev
PORT=3000
//for local dev on docker
MONGO_URI=mongodb://localhost//27018//courstella?retryWrites=false
//for prod
MONGO_URI=get your uri from mongodb atlas
JWT_SECRET=thisisasecretkeyforjwtauthentications
FRONTEND_URL=https://yourfrontendurl.com
MENTOR_SECRET_CODE=the code 
